---
const currentDate = new Date();
const birthDate = new Date(2002, 9, 24);

let age = currentDate.getFullYear() - birthDate.getFullYear();
const monthDiff = currentDate.getMonth() - birthDate.getMonth();
const dayDiff = currentDate.getDate() - birthDate.getDate();

if (monthDiff < 0 || (monthDiff === 0 && dayDiff < 0)) {
    age--; // A칰n no cumple a침os en 2026
}
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo John Rolingson, tengo {age}, nac칤 en Caracas 游游 y desde
            peque침o he vivido en distintos lugares de Espa침a, lo que me oblig칩 a
            la constante <strong>adaptaci칩n a nuevos entornos</strong>.
        </p>

        <p>
            Eleg칤 estudiar Ingenier칤a Inform치tica porque siempre he tenido
            curiosidad por entender c칩mo funcionan las cosas, desde los sistemas
            m치s cotidianos hasta la infraestructura que hay detr치s del software
            moderno. Al principio me interesaban las ciencias puras, pero la
            inform치tica me ofrec칤a algo que encajaba mejor conmigo: la capacidad
            de crear sistemas complejos desde cero y optimizarlos para que
            funcionen de la mejor manera posible.
        </p>

        <p>
            Durante el grado en la Universidad Aut칩noma de Madrid consolid칠 una
            <strong
                >base s칩lida en algoritmos, estructuras de datos, sistemas y
                backend</strong
            >, y descubr칤 un inter칠s especial por la <strong
                >ciberseguridad y la arquitectura de sistemas</strong
            >. Me atrae comprender c칩mo se comunican los sistemas, c칩mo se
            protegen y c칩mo se puede mejorar su rendimiento.
        </p>
    </div>
</article>
