---
import ExperienceItem from "./ExperienceItem.astro";

const FORMATION = [
    {
        date: "Septiembre 2021 - Julio 2025",
        title: "Grado en Ingeniería Informática - Universidad Autónoma de Madrid",
        image: "/institutions/uam-logo.webp",
        description: `Nota media: 7,72 / 10
Asignaturas relevantes: Ciberseguridad (9,2), Fundamentos de Criptografía y Seguridad Informática (8,0),
Inteligencia Artificial (8.7), Computación de altas prestaciones (8.7), Algoritmia y Estructura de datos (8.2),
Ingeniería del Software (8.2).`,
    },
];
---

<ol class="relative border-s border-default mb-10">
    {
        FORMATION.map((formation) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...formation} />
            </li>
        ))
    }
</ol>
